" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

call plug#begin()
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
call plug#end()

" Easymotion
nmap f <Plug>(easymotion-s)
vmap f <Plug>(easymotion-s)
omap f <Plug>(easymotion-s)

" Make the current working directory follow the active buffer
set incsearch
set shiftwidth=2 smarttab
" Use spaces instead of tabs for auto-indentation
set expandtab
" Lets you use the mouse
set mouse=a
set number number relativenumber

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" CTRL-Shift-O to reload
map gh <Action>(ShowHoverInfo)
" map \p <Action>(ParameterInfo)
" map \c <Action>(GotoClass)
" imap <C-n> <ESC>:action HippieCompletion<CR>a
" imap <C-p> <ESC>:action HippieBackwardCompletion<CR>a

